#card-div{
    margin: 2em 0em;
}

p{
    font-size: large;
}
#audio-div{
    margin: 2em 0em;
}
#card-div{
    box-shadow: 0 .125rem .5rem rgb(1, 1, 0);
}
div{
    padding:10px;
}
body{
    background: url("https://source.unsplash.com/random/?pastel?1");
}
